#outside-box{
	height: 300px;
	width: 300px;
	background-color: green;
	/* position: relative; */
	top:  20px;
	left:  20px;
}

#middle-box{
	height: 200px;
	width:  200px;
	background-color: black;
	margin: auto;
	color: white;
	font-weight: 500;
	position: fixed;
	bottom: 0;
	right: 0;
}

#inside-box{
	height: 100px;
	width: 100px;
	background-color: red;
	margin: auto;
	text-align: center;
	color: black;
	position: relative;
	top: 0;
	left: 0;
}