.car-wrapper{
background: linear-gradient(to top, rgba(73,155,234,1) 0%, rgba(16,18,71,1) 100%);
	width: 590px;
	padding-top: 80px;
	border: 4px solid black;
}

.light{
	border-bottom: 70px solid #bbdefb;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	height: 0;
	width: 29px;			
	transform: rotate(90deg);
	margin-left: -77px;
	margin-top: 17px;
	animation: blink .2s infinite linear;
}

#car{
	padding-left: 40px;
	margin-left: 30px;
	background-color: transparent;
	position: relative;
}

.upperPart{
	height: 60px;
	width: 400px;
	margin-left: 15px;
}

.triangle{
	width: 0;
	height: 0;
	margin-left: 150px;
	position: absolute;
	border-bottom: 60px solid black;
	border-left: 80px solid transparent;
}

.triangle-body{
	width: 0;
	height: 0;
	margin-top: 8px;
	margin-left: -79px;
	position: absolute;
	border-bottom: 55px solid red;
	border-left: 75px solid transparent;
}

.triangle-body2{
	width: 0;
	height: 0;
	margin-top: 8px;
	margin-left: -79px;
	position: absolute;
	border-bottom: 55px solid blue;
	border-left: 75px solid transparent;
}

.window{
	width: 0;
	height: 0;
	margin-top: 20px;
	margin-left: -55px;
	position: absolute;
	border-bottom: 35px solid black;
	border-left: 44px solid transparent;
}

.body{
	height: 80px;
	width: 450px;
background: linear-gradient(to top, rgba(227,32,32,1) 0%, rgba(255,0,0,1) 100%);
	border-bottom-right-radius: 15%;
	border: 3px solid black;
	border-top-left-radius: 40%;
	border-bottom-left-radius: 7%;
	border-top-right-radius: 5%;	
}

.door{
	height: 70px;
	width: 170px;
background: linear-gradient(to top, rgba(227,32,32,1) 0%, rgba(255,0,0,1) 100%);
	position: absolute;
	margin-left: 153px;
	border: 3px black solid;
	border-top: none;
	border-top-left-radius: 7%;
	border-bottom-right-radius: 50%;
	border-top-right-radius: 10%;
	border-bottom-left-radius: 25%;
}

.knob{
	height: 10px;
	width: 20px;
	background-color: red;
	position: absolute;
	margin-left: 260px;
	border: solid 3px black;
	margin-top: 15px;
	border-right: solid 11px black;
	border-radius: 20%;
}

.headlight{
	height: 30px;
	width: 12px;
	background-color: #bbdefb;
	position: absolute;
	bottom: 0;
	margin-bottom: 12px;
	border-radius: 15%;
	border: 3px black solid;
	border-left: none;
}

.tail-light{
	height: 20px;
	width: 5px;
	background-color: grey;
	position: absolute;
	bottom: 0;
	margin-bottom: 13px;
	margin-left: 450px;
	border-radius: 20%;
	border: 3px black solid;
}

.circle1{
	height: 80px;
	width:  80px;
	border-radius: 50%;
	margin-top: -60px;
	background-color: black;
	margin-left: 45px;
	position: absolute;
	border: 3px solid black;
}

.circle2{
	height: 80px;
	width:  80px;
	border-radius: 50%;
	background-color: black;
	position: absolute;
	margin-top: -60px;
	margin-left: 340px;
	border: 3px solid black;
}

.rim{
	height: 50px;
	width:  50px;
	border-radius: 50%;
	background-color: black;
	position: relative;
	margin: 10px;
	border: 5px white solid;
}

.rotate {
    animation: spin .2s infinite linear;
}

.moveUp {
    animation: moveUp .4s infinite linear;
}

@keyframes spin {
    100% {
        transform:rotate(-360deg);
    }
}
@keyframes blink {
	0% {
		border-bottom-color: #bbdefb;
	}
	50%{
		border-bottom-color: #64b5f6;
	} 
	100%{
		border-bottom-color: #bbdefb;
	}
}
 
@keyframes moveUp {
    0% {
	margin-top: 10px;
    }
    50% {
	margin-top: 15px;
    }
    100% {
	margin-top: 10px;
    }
}

.rim-inside{
	position: absolute;
	border-bottom: 6px solid white;
}
.r1{
	height: 22px;
	width: 50px;
}
.r2{
	transform: rotate(45deg);
	height: 27px;
	width: 50px;	
	margin-left: 8px;
}
.r3{
	transform: rotate(-45deg);
	height: 1px;
	width: 51px;	
	margin-top: 22px;
}

.rim-inside-circle{
	background-color: white;
	position: absolute;
	margin-top: 15px;
	margin-left: 15px;
	height: 20px;
	width: 20px;
	border-radius: 50%;
}

.road{
	padding-top: 5px;
	height: 40px;
	width: 590px;
background: linear-gradient(to bottom, rgba(98,105,112,1) 0%, rgba(240,232,240,1) 100%);
	animation: evenOutMargin .4s infinite linear;
}

@keyframes evenOutMargin{
	0% {
	margin-top: 15px;
    }
    50% {
	margin-top: 10px;
    }
    100% {
	margin-top: 15px;
    }
}

.white-line{
	height: 8px;
	width: 100px;
	background-color: white;
	animation: pass .4s infinite linear;
}

@keyframes pass{
	0%{margin-left:0%;}
	20%{margin-left:20%;}
	40%{margin-left:40%;}
	60%{margin-left:60%;}
	100%{margin-left:80%;}
}

.car-shadow{
	width: 450px;
	background: rgba(54, 25, 25, .5);
	height: 20px;
	border-radius: 50%;
	margin-left: 80px;
}

.fly{
	position: absolute;
	border: 2px solid white;
	font-family: sans-serif;
	color: white;
	width: 20px;
	font-size: 17px;
	border-radius: 50%;
	text-align: center;
}

.letterK{
	animation: lk 4s infinite linear;

}
@keyframes lk{
	0%{top: 30px;left: 20px;}
	30%{top: 150px; transform:rotate(10deg)}
	35%{top: 10px;left: 170px;transform: rotate(-2000deg);}
	40%{top: 30px;left: 20px;transform: rotate(0deg)}
	100%{top: 30px;left: 20px;}
}
.letterA{
	animation: la2 4s infinite linear;
}
@keyframes la2{
	0%{top: 30px;left: 50px;}
	25%{top: 150px; transform:rotate(10deg)}
	30%{top: 10px;left: 170px;transform: rotate(-2000deg);}
	35%{top: 30px;left: 50px;transform: rotate(0deg);}
	100%{top: 30px;left: 50px;}
}
.letterN{
	animation: ln 4s infinite linear;
}
@keyframes ln{
	0%{top: 30px;left: 80px;}
	20%{top: 150px; transform:rotate(10deg)}
	25%{top: 10px;left: 170px;transform: rotate(-2000deg);}
	30%{top: 30px;left: 80px;transform: rotate(0deg);}
	100%{top: 30px;left: 80px;}
}
.letterG{
	animation: lg 4s infinite linear;
	
}

@keyframes lg{
	0%{top: 30px;left: 110px;}
	15%{top: 150px; transform:rotate(10deg)}
	20%{top: 10px;left: 170px;transform: rotate(-2000deg);}
	25%{top: 30px;left: 110px;transform: rotate(0deg)}
	100%{top: 30px;left: 110px;}
}

.gradient{
	position: absolute;
	left:205px;
	height: 80px;
	top: 60px;
	width: 173px;
	background: rgba(54, 25, 25, .5);
	border-top-right-radius: 10%;
	border-bottom-right-radius: 50%;
	border-bottom-left-radius: 30%;
}

.moon{
	position: absolute;
	border-radius: 50%;
background: linear-gradient(to right, rgba(241,231,103,1) 0%, rgba(255,255,0,1) 100%);
	height: 90px;
	width: 90px;
	top: 30px;
	left: 460px;
}

.moon-space{
	position: absolute;
	border-radius: 50%;
	background-color: transparent;
	height: 65px;
	width: 65px;
	top: 1px;
	left: 30px;	
}

.cloud{
	position: absolute;
	border-radius: 50%;
	height: 20px;
	background-color: grey;
	width: 40px;
	top: 35px;
	left: 10px;
	animation: moveCloud1 4s infinite linear;
}
@keyframes moveCloud1{
	0% {
		left: 20px;
	}
	50%{
		left: 40px;
	}
	100%{
		left: 20px;
	}
}
.cloud2{
	position: absolute;
	border-radius: 50%;
	background-color: grey;
	width: 40px;
	top: 60px;
	left: 30px;
	animation: moveCloud2 4s infinite linear;
}
@keyframes moveCloud2{
	0% {
		left: 30px;
	}
	50%{
		left: 10px;
	}
	100%{
		left: 30px;
	}
}

.cloud-sm{
	position: absolute;
	border-radius: 50%;
background-color: grey;}
.cl1{
	height: 20px;
	width: 20px;
	top: 5px;
	left: 5px;	
}
.cl2{
	height: 15px;
	width: 15px;
	top: 8px;
	left: 29px;	
}
.cl4{
	height: 25px;
	width: 25px;
	top: 0px;
	left: 10px;	
}
.cl3{
	height: 18px;
	width: 18px;
	top: 2px;
	left: 29px;	
}